@use '../../../../../shared/scss/reset-latest';

body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.canvas {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.button {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  z-index: 20;
  padding: 10px 20px;
  color: #fff;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 0;
  outline: none;
  transition: 0.3s;
  appearance: none;
  &:hover {
    background: rgb(255, 255, 255, 50%);
  }
  &:active {
    background: rgb(255, 255, 255, 20%);
  }
}
